body {
    background-color: #8fbc94;
    background-image: url("https://github.com/i-gau/cosw10-activity2/blob/main/background%20cat.jpg?raw=true");
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
