
h1 {width: 600px;
    background-color: #548678;
}

body {
    background-color: #8fbc94;
    background-image: url("https://github.com/i-gau/cosw10-activity2/blob/main/cat-background.jpg?raw=true");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

section {width: 600px;
    word-wrap: break-word;
    background-color: #C5E99B;
}

h2 {width: 600px;
    text-align: center;
}

h3 {text-align: center;
}
